.mdiv{
    background-color: white;height: 100%;width: 100%;
    position: absolute;
} 
.newpass{
    height: 400px;width: 30%;background-color: white;border-radius: .2rem;
    box-shadow: .5rem .2rem 1rem rgb(145, 145, 145);padding: 1.3rem;
}